body {
  background-color: #9fa0c3;
  text-align: center;
  color: #7b435b;
}
header {
  color: #d1f9ff;
  font-family: "Caveat", cursive;
  border: 1px solid #fff;
}
header p {
  font-family: "Lato", sans-serif;
  text-align: center;
}

header a {
  color: #d1f9ff;
}
/* navigation */

#nav {
  text-align: center;
  padding: 20px 0;
}

#nav a {
  display: inline-block;
  width: 150px;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  background-color: #a172a9;
  border: solid 1px #7b435b;
  border-radius: 9px;
  color: #d1f9ff;
}

.card {
  border: 1px solid #7b435b;
  background-color: #fff;
  color: #7b435b;
  width: 250px;
  padding: 15px;
  border-radius: 9px;
  text-align: left;
  display: inline-block;
  font-family: "Lato", sans-serif;
}

.card-title {
  text-align: center;
}

.card h4 {
  font-style: italic;
}
.card-img-top {
  max-width: 100%;
  border-radius: 9px 9px 0 0;
}

.memories {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 50px 0;
  font-family: "Playfair Display", serif;
  margin-left: 10px;
  padding: 20px;
}
